.admin-button {
    margin-bottom: 1rem;
}

.meal-card {
    padding: 0 3rem 3rem;

    .post-it-card {
        margin: 2rem;
        border-radius: 1rem;

        .date-picker {
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-button {
                padding: 0;
                font-size: 2rem;
            }

            .arrow-button.disabled {
                color: grey;
            }

            .arrow-button.disabled:hover {
                cursor: default;
            }

            .arrow-button:hover {
                cursor: pointer;
            }
        }

        .meal-comment {
            font-style: italic;
            font-size: 1.25rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        button.recipe-info {
            margin-top: 1rem;
        }
    }
}

.pop-up {
    position: fixed;

    left: 20%;
    top: 20%;

    width: 60%;
    max-height: 70%;
    overflow-y: scroll;

    border: 1px solid grey;
    border-radius: 1em;
    box-shadow: -2px 5px 5px grey;

    background-color: #F9A689;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .close-button {
        position: absolute;
        right: 0;
        padding: .5rem 1rem;
        margin: .5rem;
    }

    .pop-up-content {
        padding: 2rem 0;

        .recipe-label {
            font-weight: bold;
        }

        .recipe-name {
            margin: 0;
        }

        .flex-container {
            display: flex;
            justify-content: center;
            align-items: end;

            .recipe-rating {
                padding-left: 1.5rem;
            }
        }

        .recipe-comments {
            list-style-type: none;
            padding: 0 0.75rem 0.75rem;
            margin-top: 0;

            li {
                background-color: #89DCF9;
                padding: .5rem;
                border-radius: .25rem;
                margin: .5rem auto;
                width: fit-content;

            }
        }
    }
}

@media (max-width: 426px) {
    .meal-card {
        padding: 0 1rem 1rem;

        .date-picker h2 {
            padding: 0 2rem;
        }
    }

    ;

    .pop-up {
        width: 80%;
        left: 10%;

        .pop-up-content {
            padding-top: 2.75rem;
        }
    }
}