:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #3E3D3D;
  /* background-color: #A4F989; */
  background-image: linear-gradient(to bottom right, #A4F989, #89DCF9);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  padding: 2rem 0;
}

a {
  font-weight: 500;
  color: #5A3BF7;
  text-decoration: inherit;
}
a:hover {
  color: #4623F6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #DE89F9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #F9A689;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.bottom-padding {
  padding-bottom: 2rem;
}
