.admin-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    label {
        padding: .5rem;
        display: flex;
        justify-content: space-between;
    }

    input {
        margin-left: 1rem;
    }

    .account-button {
        align-self: center;
        margin-top: 1rem;
    }

    .submit-button {
        margin: 1rem 0;
    }
}

.logout-button {
    margin: 1rem;
}

@media (max-width: 340px) {
    .admin-form {
        width: 90%;
    }
}