.add-meal {
    background-image: linear-gradient(to top, #F9A689, #DE89F9);
}

.add-recipe {
    background-image: linear-gradient(to top, #89DCF9, #DE89F9);
}

.admin-form-container {
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    width: 50vw;

    .no-margin-top {
        margin-top: 0;
    }
    
    .admin-form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        label {
            padding: .5rem;
            display: flex;
            justify-content: space-between;
        }

        input,
        textarea {
            margin-left: 1rem;
            width: 60%;
        }

        #date_cooked {
            width: auto;
        }

        .account-button {
            align-self: center;
            margin-top: 1rem;
        }

        .submit-button {
            margin: 1rem 0;
        }
    }
}

.logout-button {
    margin: 1rem;
}

@media (max-width: 768px) {
    .admin-form-container {
        width: 80vw;
    }
}

@media (max-width: 340px) {
    .admin-form-container {
        width: 90vw;

        .admin-form {
            width: 90%;
        }
    }
}