.account-form {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 80%;
    margin: 0 auto;

    label {
        padding: .5rem;
    }

    input {
        margin-left: 1rem;
    }

    .account-button {
        align-self: center;
        margin-top: 1rem;
    }
}